/* box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1); */

.c_img {
  width: 60px;
  margin: 0 auto;
}

.sm_container {
  width: 150px;
}

.sm_container:hover {
  border: 3px solid rgb(56, 56, 236);
}

.sm2_container {
  display: flex;
  margin-top: 20px;
  margin-left: 230px;
  margin-right: 236px;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 18px;
}

.sp_input > input {
  width: 53%;
  box-shadow: 0 0 28px 4px rgb(0 0 0 / 10%);
  outline: none;
  border: none;
  height: 45px;
  padding: 12px;
  margin-top: 20px;
}

.sp_btn > button {
  margin-left: 12px;
  height: 36px;
  border: none;
  padding: 7px;
  box-shadow: 0 0 1px 4px rgb(0 0 0 / 10%);
}

.chart {
  width: 64%;
  height: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}
