.weather_container {
  width: 816px;
  height: 1145px;
  margin: 0 auto;
}

.card_container {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}

.inp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-left: 15px;
}

.inp > input {
  width: 45rem;
  padding: 5px;
  border: none;
  outline: none;
  margin-left: 12px;
}

.days {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sm_container {
  width: 93px;
  height: 127px;
  margin: 5px;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}

.chart {
  width: 800px;
  height: 1200px;
  margin: 10px;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}

.detail {
  font-size: 12px;
}

.c_size {
  width: 8rem;
}

.c_img {
  width: 60px;
  margin: 0 auto;
}
